<html xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title py:content="title">This is replaced.</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
    <!-- CIDE CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
  </head>
  <body>
    
    <!-- Top menu -->
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                data-target="#cide-top-menubar">
          <span class="sr-only">Toggle navigation</span>
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
        <label class="navbar-brand">Cide.py</label>
      </div>

      <!-- Top menu elements -->
      <div class="collapse navbar-collapse" id="cide-top-menubar">
        <!-- Left section of the top menu -->
        <ul class="nav navbar-nav">
          <!-- Project relative elements -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-cloud"></span> Project</a>
            <ul class="dropdown-menu" role="menu">
              <li class="divider"></li>
              <li><a href="#" onclick="return menuProjectExport();"><span class="glyphicon glyphicon-cloud-download"></span> Export</a></li>
            </ul>
          </li>
        </ul>

        <!-- Right section of the top menu -->
        <ul class="nav navbar-nav navbar-right">
          <!-- User relative elements -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span> Parameter</a>
            <ul class="dropdown-menu" role="menu">
              <li class="divider"></li>
              <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    
    <div class="container-fluid">
      
      <!-- Side sections and IDE sections -->
      <div class="row">

        <!-- Side sections -->
        <div class="col-md-3">
          <!-- Side section menus -->
          <ul class="nav nav-pills nav-justified">
            <li class="active"><a href="#side-section-tab-treeview" data-toggle="pill">Project Tree</a></li>
            <li><a href="#side-section-tab-chat" data-toggle="pill">Project Chat</a></li>
          </ul>

          <!-- Side section containers -->
          <div class="tab-content full-size">
            <!-- TreeView panel container -->
            <div class="tab-pane active" id="side-section-tab-treeview">
              <div id="tree" class="tree well full-size">
                <ul>
                  <li class="parent_li">
                    <span class="tree-node-dir glyphicon glyphicon-folder-open">
                      <span py:content="title" class="tree-node-name"></span>
                    </span>
                    <ul id='tree-node/'></ul>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Chat panel container -->
            <div class="tab-pane" id="side-section-tab-chat">
              <div id="chat" class="panel">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span>
                    <span py:content="title"></span>'s Instant Chat
                </div>

                <div class="chat-logbox panel-body full-size">
                  <ul id="chat-display"></ul>
                </div>

                <div class="panel-footer">
                  <div class="chat-user-text input-group">
                    <input id="chat-user-text-input" type="text" class="form-control" placeholder="Type your message here..."/>
                    <span class="input-group-btn">
                      <button id="chat-user-text-btn" class="btn">Send</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- tab content --><!-- side sections -->

        <!-- IDE sections -->
        <div class="col-md-9">
          <!-- Editing zone impl -->
          <h1 id="stateHelper"></h1>
          <!-- Container of all lines  contenteditable="true"-->
          <h4>Display</h4>
          <code id="editorDisplay" class="codeDisplay" contenteditable="true"></code>
          <h4>Last version from server</h4>
          <code id="editorLastVersion" class="codeDisplay" contenteditable="true"></code>
        </div><!-- ide sections -->

      </div><!-- side sections and ide -->
    </div><!-- container-fluid -->

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- JS -->
    <script src="static/js/edit.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/apps/ide.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/apps/chat.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/modules/treeView.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/modules/localChanges.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/modules/lastVersionZone.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/modules/displayZone.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/modules/requestHandler.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/utils/helper.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/utils/representation.js" type="text/javascript" charset="utf-8"></script>
    <!-- Bootstrap JS -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- Diff match patch JS -->
    <script src="static/js/libs/diff_match_patch.js" type="text/javascript" charset="utf-8"></script>
    <!-- Caret JQuery helper JS (https://github.com/accursoft/caret) -->
    <script src="static/js/libs/jquery.caret.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
